NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=magza-takip.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=magza-takip
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=magza-takip.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=621214165092
NEXT_PUBLIC_FIREBASE_APP_ID=1:621214165092:web:cb2acf99c2dc9a2fea1771
